html {
  background: #779999;
}

* {
  box-sizing: border-box;
}

.app {
  margin: 20px;
}
.app > p {
  text-align: center;
  color: white;
}

.botsquad-components {
  width: 40vw;
  min-width: 480px;
  height: 80vh;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .botsquad-components {
    width: 90vw;
    min-width: auto;
  }
}

.botsi-web-client {
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

a {
  color: white;
}
