// @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
html.ie {

  * {
    animation: none !important;
  }

  .recent, .recent * {
    transform: translate(0, 0) !important;
    opacity: 1 !important;
  }

  .chat-toast--wrapper {
    opacity: 1;
  }

  .bubble-group.typing .typing {
    opacity: 1;
  }
}
