:root {
  --botsquad-main-color: #0084ff;
  --botsquad-main-color-lighter: lighten(#0084ff, 10%);
  --botsquad-main-color-darker: darken(#0084ff, 10%);
  --botsquad-secondary-color: rgba(0, 0, 0, 0.1);
  --botsquad-ui-color: #bbb;
  --botsquad-ui-background-color: rgba(255, 255, 255, 0.9);
  --botsquad-bubble-radius: 20px;
  --botsquad-bot-avatar-size: 31px;
  --botsquad-user-avatar-size: 15px;
  --botsquad-border-style: 1px solid #ddd;
  --botsquad-animation-delay: 400ms;
}
